section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    min-height: 75vh;
}

section .profile{
    width: 40%;
    background-color: var(--color2);
    padding: 2em;
    border-radius: 25px;
}

section .chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
}
section .profile .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color2);
}

section .profile .container .profilePic{
    display: flex;
    width: 45%;
}

section .profile .container .profileData{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

section .profile .container .profileData .status ul{
    list-style: none;
}

section .profile .myBio .buttonBox{
    width: 100%;
    display: flex;
    justify-content: end;
}


section .profile .myBio .edicaoBio{
    padding: .5em 0;
    display: none;
    width: 100%;
}

section .profile .myBio .edicaoBio textarea{
    padding: 1em;
    width: 100%;
    outline: none;
    border: none;
}

button{
    border: none;
    padding: 1em 0;
    border-radius: 500px;
    width: 30%;
    cursor: pointer;
}