@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

html {
    scroll-behavior: smooth;
  }

:root{
    --color1: #B42624;
    --color2: #AE0000;
    --color3: #D9D9D9;
}
:hover{
    transition: .5s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans'
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color3);
}

header{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color2);
    z-index: 5;
}

header #logo{
    height: 100%;
}


nav{    
    display: flex;
    height: 10vh;
    width: 100%;
    background-image: url(../../assets/imgs/site-stuff/panel.webp);
    background-size: cover;
    background-position: bottom 37.5% right 100%;
    background: blur(15px);
    z-index: 5;
}

nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul a{
    display: flex;
    height: 50%;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding: 1.5em;
    border-radius: 15px;
    text-shadow: 1px 1px 10px var(--color2);
}

nav ul a:hover{
    background: var(--color2);
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: var(--color2);
}

.quoteContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em;
    background-color: var(--color3);
}

#quoteDiv{
    padding: 1em;
    width: 75%;
    background-color: var(--color2);
    border: 10px solid var(--color1);
    border-radius: 500px;
    display: flex;
    gap: .5em;
}

#quoteDiv #quoteImg{
    width: 25%;
    border-radius: 50%;
}

#quoteDiv #quoteImg img{
    width: 100%;
    border-radius: 50%;
}

#quoteDiv #textBox{
    color: var(--color3);
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 75%;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px ;
}
