@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root{
    --color1: #B42624;
    --color2: #861311;
    --color3: #D9D9D9;
}
:hover{
    transition: .5s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color3);
    font-family: 'Open Sans';
}

header{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #000;
    background: var(--color1);
    z-index: 5;
}

header #logo{
    position: relative;
    height: 100%;
}


nav{    
    position: fixed;
    top: 10vh;
    display: flex;
    height: 10vh;
    width: 100%;
    background-image: url(../../assets/imgs/site-stuff/panel.webp);
    box-shadow: 1px 1px 10px #000;
    background-size: cover;
    background-position: bottom 37.5% right 100%;
    background: blur(15px);
    z-index: 5;
}

nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul a{
    display: flex;
    height: 50%;
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding: 0 2em;
    text-shadow: 1px 1px 10px var(--color2);
}

nav ul a:hover{
    background: var(--color2);
}