section{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    padding: 2.5% 5%;
    font-size: 1.5em;
    transition: .5s;
    animation: navegando 1s .5s ease-in-out;
}

section img{
    width: 100%;
}


.s1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.s2-container{
    gap: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.s2-container a{
    width: 50%;
}

.s2-container a img{
    width: 100%;
    border-radius: 50px;
}

@keyframes navegando {
    0%{
        transform: translateX(50%);
    }100%{
        transform: translate3d(0);
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: var(--color2);
}