section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    font-size: 1.5em;
    gap: 2em;
}

body{
    margin-top: 20vh;
}

.topics{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soundtracks{
    display: flex;
    padding: 2em;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.soundtracks .cards{
    background: var(--color2);
    padding: 1.5em;
    border-radius: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
}
.soundtracks .cards .title{
    font-weight: 600;
}
.soundtracks .cards .subtitles{
    font-weight: 500;
}

.soundtracks .cards .player{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    padding: 1em;
    border-radius: 500px;
    background-color: red;
}

.soundtracks .cards .player a{
    color: #000;
}


.soundtracks .cards .imgBox{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
}

.soundtracks .cards .imgBox img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

