@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
}

.triangle{
    width: 10%;
    overflow: hidden;
}

#top-left{
    position: absolute;
    top: -20px;
    left: -5%;
    transform: rotate(180deg);
}

#top-right{
    position: absolute;
    top: -20px;
    right: -5%;
    transform: rotate(180deg);
}

#bottom-left{
    position: absolute;
    bottom: -20px;
    left: -5%;
}

#bottom-right{
    position: absolute;
    bottom: -20px;
    right: -5%;
}

.container{
    display: flex;
    width: 50%;
    border: 2px solid black;
    border-radius: 50px;
    padding: 2em;
}

.container .container-cadastro{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2em;
}

.container #credenciais {
    border-right: 2px solid black;
}

.container .container-cadastro .campo{
    display: flex;
    width: 85%;
    height: 10%;
    border-bottom: 2px solid black;
    align-items: center;
}

.container .container-cadastro h1{
    width: max-content;
    border-bottom: 2px solid black;
}

.container .container-cadastro .campo input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
}

.container .container-cadastro .buttonBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container .container-cadastro .buttonBox button{
    border: none;
    background-color: #AA0000;
    color: #fff;
    font-weight: 700;
    width: 70%;
    padding: 1em;
    border-radius: 500px;
    cursor: pointer;
}
/*.container .container-cadastro .campo i{
    border-bottom: 2px solid black;
}

.container .container-cadastro .campo input{
    height: 70%;
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}*/

.container #merry{
    align-items: center;
}


.container #merry img{
    width: 80%;
}

.container #eastblue{
    align-items: center;
    justify-content: center;
}

.container #eastblue img{
    width: 80%;
    border-radius: 50px;
}

#back{
    position: absolute;
    width: 100px;
    bottom: 0;
    right: 0;
}